// Style related to horntrip show
h1 {
  font-style: bold;
  font-size: 42 px;
}
p {
  font-size: 30 px;
}
body {
  background-color: #f9f9f9;
}
.trip-description-card {
  margin-top: 50px;
  background-color: white;
  padding: 30px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
  transition: 0.2s;
  word-wrap: break-word;
  text-align: justify;
  text-justify: inter-word;
  line-height: 25px;
}
.trip-description img {
  width: 30%;
}
@media (min-width: $screen-md-min) {
  .only-small-screen {
    display:none;
  }
}
@media (max-width: $screen-md-min) {
  .only-large-screen {
    display:none;
  }
}

// Style related to horntrip new form
.form {
  background-color:  white;
  padding: 2rem 2rem 1rem;
  border-radius: .25rem;
  box-shadow: 0 1px 0 rgba(0,0,0,.25);
  border: 1px solid #E8E8E8;
}
.form h2 {
  padding-bottom: 20px;
}
.form-control {
  padding: .75rem;
}
.label {
  font-weight: bold;
}
.btn-book {
  padding: 10px 60px;
}
