.banner-bookings {
  position: fixed;
  left: 0px;
  top: 70px;
  z-index: 3;
  width: 100%;
  padding: 20px;
  height: 200px;
  color: white;
  z-index: 2;
}
.banner-bookings-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.banner-bookings-card {
  width: 150px;
  height: 150px;
  box-shadow: 10px 10px 5px #888888;
  left: 30%;
}
.img-price {
  background-color: white;
  border-radius: 50%;
  box-shadow: 10px 10px 5px #888888;
  color: black;
  display: inline-block;
  padding: 30px;
}
.type-bookings {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}
.one-type-bookings {
  padding: 10px 30px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 10px 10px 5px #888888;
  display: block;
  margin: 20px;
}
.card-bookings {
  height: 250px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #E2E2E2;
  color: black;
  border-radius: 10px;
  margin: 20px 0;
}
.card-icons {
  position: relative;
  font-size: 30px;
}
.card-email {
  margin-bottom: 10px;
}
.fa {
  margin: 0 20px;
  color: grey;
}
.fa-check {
  position: absolute;
  left: 20px;
}
.fa-times {
  position: absolute;
  right: 20px;
}
.fa-check:hover {
  color: green;
}
.fa-times:hover {
  color: red;
}
.fa-arrow-left:hover {
  color: black;
}
.fa-arrow-right:hover {
  color: black;
}
