.signform {
  margin-top: 50px;
  background-color:  white;
  padding: 2rem 2rem 1rem;
  border-radius: .25rem;
  box-shadow: 0 1px 0 rgba(0,0,0,.25);
  border: 1px solid #E8E8E8;
}

.signform h2 {
  padding-bottom: 20px;
}

.form-control {
  padding: .75rem;
}

.large_bottom_margin {
    margin-bottom: 2rem;
}

.large_bottom_margin {
    margin-bottom: 2rem;
}
