h1 {
  font-style: bold;
  font-size: 42 px;
}
p {
  font-size: 30 px;
}
body {
  background-color: #f9f9f9;
}
.trip-description-card {
  background-color: white;
  padding: 30px;
}

.trip-description img {
  width: 30%;
}
