<h3 class="readme-header text-center">You are a survivor of this HornTrips :</h3>

<div class="container-fluid">
  <div class="row">

    <% @bookings.each do |booking| %>

      <div class="col-xs-12 col-sm-4">

        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('images/background.jpg');">
          <div class="card-category"><%= booking.horntrip.title %></div>
          <div class="card-description">
            <h2>Some stuff</h2>
            <p><%= booking.horntrip.description %></p>
            <p><%= booking.horntrip.user.email %></p>
          </div>
          <img class="card-user avatar" src="images/papillard.jpeg">
          <a class="card-link" href="#" ></a>
        </div>

      </div>

    <% end %>

  </div>
</div>
