<div class="banner" style="background-image: linear-gradient(135deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.2) 50%), url( <%= image_path 'mike_banner.png' %> );">

  <div class="container">
    <div class="row">

      <div class="col-md-12 col-md-offset-6">
        <h1 class="banner-title"><strong>Are you sure to be wild ?</strong></h1>
      </div>

      <div class="col-md-12 col-md-offset-7">
        <div class="banner-content">
          <h2 class="banner-brand"><strong>HornHub</strong></h2>
          <p class="banner-tagline">The hotest experience of extreme tourism.</p>
        </div>
      </div>

      <div class="col-md-12 col-md-offset-7">
        <div>
          <button type="button" class="btn btn-danger banner-cta">Search HornTrips !</button>
        </div>
      </div>

    </div>
  </div>

</div>
