<div class="container">
  <div class="row">
    <div class="co">
      <div class="twitter text-center xmarged">
        <h1 class="text-center">Our followers on Twitter : </h1>
        <h1 class="text-center">#licorne</h1>
        <%= image_tag('tweet-manu.png') %>
      </div>
    </div>l-xs-12
  </div>
</div>

