/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */

// Paddings
.padded-top {
  padding-top: 50px;
}

.padded {
  padding-top: 5em;
  padding-bottom: 5em;
}

.marged-top {
  margin-top: 50px;
}

.xl-marged-bottom {
  margin-bottom: 90px;
}

.marged-bottom {
  margin-bottom: 50px;
}

.m-marged-top {
  margin-top: 150px;
}

.sm-marged-bottom {
  margin-bottom: 20px;
}
.marged-right {
  margin-right: 10px;
}

// Backgrounds
.bg-black {
  background: #4a4a4a;
}
.bg-grey {
  background: #aeaeae;
}
.bg-blue {
  background: #00a3e1;
}
.bg-dark-blue {
  background: #3b5998;
}

h1 {
  font-size: 2rem;
  line-height: 2.5rem;
  letter-spacing: -1px;
}

h1, h2, h3, h4, h5 {
    font-weight: 700;
    margin: 0 0 1rem;
}

.body {
  color: #555459;
  line-height: 1.5rem;
}

// Link
a:hover {
  color: #3FBA88 !important;
}
