/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */

// Paddings
.padded {
  padding-top: 5em;
  padding-bottom: 5em;
}

// Backgrounds
.bg-black {
  background: #4a4a4a;
}
.bg-grey {
  background: #aeaeae;
}
.bg-blue {
  background: #00a3e1;
}
.bg-dark-blue {
  background: #3b5998;
}

h1 {
  font-size: 2rem;
  line-height: 2.5rem;
  letter-spacing: -1px;
}

h1, h2, h3, h4, h5 {
    font-weight: 700;
    margin: 0 0 1rem;
}

.body {
  color: #555459;
  line-height: 1.5rem;
}
