.banner {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 400px;
  width: 100vw;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}
.banner-brand {
  margin-bottom: 0px;
}
.banner-content {
  margin-bottom: 70px;
}

.banner-cta {
  font-size: 30px;
}
