.banner {
  height: 400px;
  width: 100vw;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}
.banner-title {
  margin-top: 60px;
}
.banner-brand {
  margin-bottom: 0px;
}
.banner-content {
  margin-bottom: 70px;
}

.banner-cta {
  font-size: 30px;
}
