.main-footer {
  height: 60px;
  width: 100%;
  align-items: center;
  margin-top: 60px;
  padding: 0px 20px 0px 20px;
  display: flex;
  justify-content: space-between;
  background-color: #e8e8e8;
  p {
    margin-bottom: 0px !important;
  }
}

/* Footer right section */
.footer-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  li .fa {
    color: #757575;
  }
  li .fa:hover {
    color: #3fba88;
  }
}
