.tabs {
  padding: 10px 10px 0 10px;
  display: flex;
}

.tabs a {
  text-decoration: none;
  color: white;
}

.tabs a:hover {
  opacity: 0.8;
}

.tab {
  background-color: #6E625E;
  flex: 0 0 25%;
  position: relative;
  padding: 15px 0;
}

.tab.active {
  background-color: white;
  color: black;
}

.tab.active:hover {
  opacity: 0.8;
}

.tab h3 {
  font-family: 15px;
  margin: 0;
}

.tab p {
  font-family: "Open Sans";
  font-weight: lighter;
  margin: 0;
}

.tab:first-child {
  border-radius: 10px 0 0 0;
}

.tab:last-child {
  border-radius: 0 10px 0 0;
}
