.profile-header-wrapper {
  background-color: #53443F;
}
.profile-header-container {
  position: relative;
  color: white;
}

.profile-header-infos {
  padding: 15px;
}

.profile-header-container h1 {
  font-size: 25px;
}

.profile-header-container h2 {
  font-size: 15px;
  font-weight: lighter;
}
